
@media screen and (max-width: 500px) {
    .h1 {
      font-size: 25px;
    }
    .catafot{
        width: 250px;
        height: 100%;
    }

  }
  @media screen and (min-width: 500px) {
    .catafot{
        width: 250px;
        height: 100%;
    }
  }
  