@media screen and (max-width: 500px) {
  .h1 {
    font-size: 25px;
    color: white;
  }
  .catafot {
    width: 250px;
    height: 100%;
  }
  .led-text {
    color: white;
}
  
}
@media screen and (min-width: 500px) {
  .catafot {
    width: 250px;
    height: 100%;
  }
  .h1 {
    color: white;
  }
  .led-text {
    color: white;
}
}
